.category{
    margin-bottom: 30px;
    .container{
        .category_slider_wrapper{
            position: relative;
            .slick__prev{
                left: -20px;
            }
            .slick__next{
                right: -20px;
            }
            .category-slider{
                
                .c_holder{
                    width: 100%;
                    display: block;
                    .slick-list{
                        padding: -5px;
                    }
                        .c-item{
                            // width: 208px;
                            padding: 10px;
                            .c-item-box{
                                width: 100%;
                                height: 213px;
                                border-radius: 10px;
                                background-color: #fff;
                                box-shadow: 0 8px 16px hsl(210deg 8% 47% / 10%);
                                position: relative;
                                text-align: center;
                                padding: 15px 30px 30px;
                                .img-wrap{
                                    display: block;
                                    margin-bottom: 10px;
                                    width: 100%;
                                    object-fit: contain;
                                }
                                .c-item-detail{
                                    .c-name{
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: #505771;
                                        text-transform: none;
                                        line-height: normal;
                                    }
                                }
                            }
                    
                        }
                    }
                
            }
        }
        }
}



