header{
    background-color: #181F3F;
    height: 90px;
    .container{
        nav{
            display: flex;
            img{
                position: relative;
                width: 150px;
                height: 60px;
                margin-right: 76px;
                margin-top: 20px;
            }
            .search{
                form{
                    padding: 25px;
                    display: flex;
                    .custom_select{
                        width: 115px;
                        height: 42px;
                        background-color: #EDEFEF;
                        color: #181F3F;
                        border: 0;
                        border-radius: 4px 0 0 4px;
                    }
                    input{
                        width: 320px;
                        height: 42px;
                        outline: none;
                        border: none;
                        padding: 5px;
                    }
                    button.stab{
                        height: 42px;
                        width: 42px;
                        background-color: #EC7451;
                        color: #fff;
                        border: none;
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
            .log_panel{
                padding: 25px;
                ul{
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    list-style: none;
                    li{
                        a{
                            display: flex;
                            flex-flow: column;
                            text-decoration: none;
                            color: #fff;
                            font-size: 10px;
                            img{
                              height: 22px;
                              width: 22px;  
                              margin-top: 0;
                              margin-right: 90px;
                              margin-bottom: 10px;
                            }
                        } 
                    }
                }
                    
            }
        }

    }
}