.home-banner{
    margin-top: 32px;
    display: flex;
    .container{
        .content-wrap{
            display: flex;
            margin-bottom: 30px;
            .left-cat{
                width: 205px;
                height: max-content;
                margin-top: 30px;
                padding: 24px;
                background-color: #fff;
                border-radius: 10px 0 0 10px;
                .heading{
                    font-size: 18px;
                    font-weight: 600;
                    color: #1f274a;
                    text-transform: capitalize;
                    line-height: normal;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    li{
                        font-size: 14px;
                        border-bottom: 1px solid #E5E4E9;
                        line-height: normal;
                        color: #505771;
                        font-weight: 500;
                        display: block;
                        text-transform: capitalize;
                        padding: 12px 0;
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
                .button-wrap{
                    button{
                        color: #092445;
                        border: 1px solid #092445 ;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: capitalize;
                        line-height: normal;
                        padding: 11px 27px 12px;
                        &:hover{
                            color: #fff;
                            background-color: #181F3F;
                            
                        }
                    }
                }
            }
            .banner-slider-wrapper{
               position: relative; 
            }
            .banner-slider{
                width: 730px;
                height: 100%;
                position: relative ;
                .banner-wrap{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: relative;
                    img{
                        border-radius: 10px;
                        object-fit: cover;
                    }
                    .caption_wrap{
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        z-index: 10;
                        text-align: center;
                        .banner-content{
                            h3{
                                font-size: 32px;
                                font-weight: 600;
                                color: #092445;
                                text-transform: none;
                                line-height: normal;
                                margin-bottom: 0;  
                            }
                            h1{
                                font-size: 42px;
                                font-weight: 300;
                                color: #092445;
                                text-transform: lowercase;
                                line-height: normal;
                                margin-bottom: 25px;
                            }
                        }
                        .button-wrap{
                           button{
                            background-color:#ec7451;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 600;
                            padding: 10px 26px 11px;
                            text-transform: none;
                            line-height: normal;
                            &:hover{
                                border: 1px solid #ec7451;
                                background-color: #fff;
                                color: #ec7451;
                            }
                           }
                        } 
                    }
                }

            }
            .right-cat{
                width: 205px;
                height: max-content;
                margin-top: 30px;
                padding: 24px;
                background-color: #fff;
                border-radius: 0 10px 10px 0;
                .heading{
                    font-size: 18px;
                }
                .content-list{
                    margin-bottom: 20px;
                    .content{
                        border-bottom: 1px solid #E5E4E9;
                        padding-top: 16.5px;
                        .title{
                            font-size: 14px;
                            font-weight: 600;
                            padding-bottom: 8px;
                            line-height: normal;
                        }
                        .desc{
                            font-size: 12px;
                            padding-bottom: 8px;
                            line-height: normal;
                            color: #505771;
                            font-weight: 400;
                            text-transform: none;
                        }
                    }
                }
                .button-wrap{
                    button{
                        margin-top: 5px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: capitalize;
                        line-height: normal;
                        padding: 11px 27px 12px;
                        background: #092445;
                        border: 1px solid #092445;
                        &:hover{
                            color: #092445;
                            border: 1px solid #092445;
                            background-color: #fff; 
                        }
                    }
                } 
            }
        }
    }
}