/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  background-color: #E5E5E5;
  overflow-x: hidden;
  font-family: "Montserrat";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1170px;
  }
}
.top-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.top-wrap h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1f274a;
  text-transform: none;
  line-height: normal;
  margin-bottom: 0;
}
.top-wrap .button a {
  font-size: 14px;
  font-weight: 600;
  color: #ec7451;
  text-transform: none;
  line-height: normal;
}
.top-wrap .button a:hover {
  color: #1f274a;
  text-decoration: underline;
}

.slick__arrow {
  position: absolute;
  width: 36px;
  height: 36px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px hsla(252, 3%, 69%, 0.28);
  outline: none;
  color: #000;
  top: 50%;
  transform: translateY(-50%);
}
.slick__arrow.slick__prev {
  left: 16px;
  right: auto;
}
.slick__arrow.slick__next {
  left: auto;
  right: 16px;
}

.slick-arrow {
  position: absolute;
  width: 36px;
  height: 36px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px hsla(252, 3%, 69%, 0.28);
  outline: none;
  color: #000;
  top: 50%;
  transform: translateY(-50%);
}
.slick-arrow.slick-prev {
  left: -20px;
}
.slick-arrow.slick-next {
  right: -20px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
header {
  background-color: #181F3F;
  height: 90px;
}
header .container nav {
  display: flex;
}
header .container nav img {
  position: relative;
  width: 150px;
  height: 60px;
  margin-right: 76px;
  margin-top: 20px;
}
header .container nav .search form {
  padding: 25px;
  display: flex;
}
header .container nav .search form .custom_select {
  width: 122px;
  height: 42px;
  background-color: #EDEFEF;
  color: #1f274a;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  padding: 0 28px 0 16px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
header .container nav .search form input {
  width: 415px;
  height: 42px;
  outline: none;
  border: none;
  padding: 5px;
}
header .container nav .search form button.stab {
  height: 42px;
  width: 42px;
  background-color: #EC7451;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
}
header .container nav .log_panel {
  padding: 25px;
}
header .container nav .log_panel ul {
  display: flex;
  justify-content: flex-end;
  position: relative;
  list-style: none;
}
header .container nav .log_panel ul li {
  margin-right: 30px;
}
header .container nav .log_panel ul li a {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  align-items: center;
}
header .container nav .log_panel ul li a .icon-wrap {
  width: 22px;
  display: block;
  max-width: max-content;
}
header .container nav .log_panel ul li a img {
  height: 22px;
  width: 22px;
  margin-top: 0;
  margin-right: 90px;
  margin-bottom: 10px;
}

.header_menu {
  background-color: white;
  height: 60px;
  display: flex;
}
.header_menu ul {
  display: flex;
  list-style: none;
}
.header_menu ul li {
  padding: 0 20px 0 30px;
  margin: 21px 0;
  border-right: 1px solid #E5E4E9;
  color: #505771;
  font-weight: 500;
}
.header_menu ul li:first-child {
  font-weight: 700;
  color: #1f274a;
}
.header_menu ul li:first-child::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 7px;
  background: url(/assets/img/drop-down.svg) no-repeat;
  margin-left: 12px;
}
.header_menu ul li:last-child {
  border-right: none;
}

.cuisines {
  margin-bottom: 30px;
}
.cuisines .container .cuisine-slider-wrapper {
  position: relative;
}
.cuisines .container .cuisine-slider-wrapper .slick__prev {
  left: -20px;
}
.cuisines .container .cuisine-slider-wrapper .slick__next {
  right: -20px;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide {
  width: 100%;
  display: block;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .slick-list {
  margin: 0 -10px;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .cuisine-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 212px;
  padding: 5px;
  border-radius: 9px;
  overflow: hidden;
  display: block;
  margin: 0 10px;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .cuisine-card .card-content {
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  width: 100%;
  height: 100%;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .cuisine-card .card-content img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .cuisine-card .card-content .cusine-name {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
  left: 0;
  bottom: 0;
  padding: 0 10px 20px;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .cuisine-card .card-content .cusine-name h4 {
  font-size: 20px;
  color: #fff;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .cuisine-card .card-content .cusine-name h6 {
  font-size: 12px;
  color: #fff;
  opacity: 0.9;
}
.cuisines .container .cuisine-slider-wrapper .cuisine-slider .cuisines-slide .cuisine-card .card-content::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.77));
  z-index: 1;
}

.category {
  margin-bottom: 30px;
}
.category .container .category_slider_wrapper {
  position: relative;
}
.category .container .category_slider_wrapper .slick__prev {
  left: -20px;
}
.category .container .category_slider_wrapper .slick__next {
  right: -20px;
}
.category .container .category_slider_wrapper .category-slider .c_holder {
  width: 100%;
  display: block;
}
.category .container .category_slider_wrapper .category-slider .c_holder .slick-list {
  padding: -5px;
}
.category .container .category_slider_wrapper .category-slider .c_holder .c-item {
  padding: 10px;
}
.category .container .category_slider_wrapper .category-slider .c_holder .c-item .c-item-box {
  width: 100%;
  height: 213px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 16px hsla(210, 8%, 47%, 0.1);
  position: relative;
  text-align: center;
  padding: 15px 30px 30px;
}
.category .container .category_slider_wrapper .category-slider .c_holder .c-item .c-item-box .img-wrap {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  object-fit: contain;
}
.category .container .category_slider_wrapper .category-slider .c_holder .c-item .c-item-box .c-item-detail .c-name {
  font-size: 14px;
  font-weight: 500;
  color: #505771;
  text-transform: none;
  line-height: normal;
}

.offer-tab {
  margin-bottom: 30px;
}
.offer-tab .container .offer-tab-wraper {
  border-radius: 10px;
  background-color: #fff;
  padding: 24px 24px 30px;
}
.offer-tab .container .offer-tab-wraper .offer-tab-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.offer-tab .container .offer-tab-wraper .offer-tab-list-wrapper ul {
  list-style: none;
}
.offer-tab .container .offer-tab-wraper .offer-tab-list-wrapper ul li {
  margin-right: 50px;
  display: inline-block;
}
.offer-tab .container .offer-tab-wraper .offer-tab-list-wrapper ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #ec7451;
  text-transform: none;
  line-height: normal;
  border-bottom: 3px solid #ec7451;
  padding-bottom: 10px;
  text-decoration: none;
}
.offer-tab .container .offer-tab-wraper .offer-tab-list-wrapper .button-wrap a {
  font-size: 14px;
  font-weight: 600;
  color: #ec7451;
  text-transform: none;
  line-height: normal;
  text-decoration: none;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row {
  display: flex;
  flex-wrap: wrap;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 {
  padding-right: 12px;
  padding-left: 12px;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 .offer-box .image-wrapper {
  margin-bottom: 12px;
  position: relative;
  height: 192px;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 .offer-box .image-wrapper img {
  border: 1px solid #edefef;
  box-shadow: 0 8px 16px hsla(210, 8%, 47%, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 .offer-box .content-wrap .tittle-content {
  font-size: 16px;
  font-weight: 600;
  color: #181f3f;
  text-transform: none;
  line-height: normal;
  margin-bottom: 10px;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 .offer-box .content-wrap .subtittle-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: normal;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #33bc84;
  text-transform: none;
  line-height: normal;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 .offer-box .content-wrap .offer-btn a button {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  padding: 3px 5px;
  background: #ec7451;
  border: 1px solid #ec7451 !important;
  border-radius: 4px !important;
  color: #fff;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 .offer-box .content-wrap .offer-btn a button:hover {
  background-color: transparent;
  color: #ec7451;
}
.offer-tab .container .offer-tab-wraper .offer-wrapper .row .col-md-4 .offer-box .content-wrap .offer-btn a span {
  font-size: 12px;
  font-weight: 500;
  color: #172b4d;
  text-transform: capitalize;
  line-height: normal;
}

.add-block {
  margin-bottom: 30px;
}
.add-block .container .add-block-wrap .row {
  display: flex;
  flex-wrap: wrap;
}
.add-block .container .add-block-wrap .row .col-md-6 {
  padding: 0 11px;
}
.add-block .container .add-block-wrap .row .col-md-6 .add-blk-sec {
  width: 100%;
  height: 316px;
  position: relative;
  z-index: 1;
}
.add-block .container .add-block-wrap .row .col-md-6 .add-blk-sec .add-image-wrap {
  width: 100%;
  height: 100%;
}
.add-block .container .add-block-wrap .row .col-md-6 .add-blk-sec .add-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rfq-sec {
  margin-bottom: 60px;
}
.rfq-sec .container .rfq-banner {
  height: 219px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
}
.rfq-sec .container .rfq-banner img {
  width: 100%;
  height: 100%;
}
.rfq-sec .container .rfq-banner .banner-caption {
  padding: 30px 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.rfq-sec .container .rfq-banner .banner-caption .tittle {
  font-size: 24px;
  font-weight: 600;
  color: #181f3f;
  text-transform: none;
  line-height: normal;
  margin-bottom: 10px;
}
.rfq-sec .container .rfq-banner .banner-caption .description {
  font-size: 12px;
  font-weight: 400;
  color: #505771;
  text-transform: none;
  line-height: 19px;
  margin-bottom: 30px;
  max-width: 484px;
}
.rfq-sec .container .rfq-banner .banner-caption .button-wrapper a button {
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  background: #ec7451;
  border: 1px solid #ec7451;
  border-radius: 4px;
  color: #fff;
}
.rfq-sec .container .rfq-banner .banner-caption .button-wrapper a :hover {
  background-color: transparent;
  color: #ec7451;
}

footer {
  background-color: #092445;
  padding: 70px 0;
}
footer .container .footer-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .container .footer-top-wrapper .links .tittle {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 27px;
}
footer .container .footer-top-wrapper .links ul li a {
  font-size: 14px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.66);
  text-transform: none;
  line-height: normal;
  text-decoration: none;
}
footer .container .footer-mid-wrapper {
  margin-top: 30px;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
}
footer .container .footer-mid-wrapper .social-icons .tittle {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 27px;
}
footer .container .footer-mid-wrapper .social-icons .icons a {
  margin-right: 25px;
}
footer .container .footer-mid-wrapper .social-icons .icons a img {
  width: 16px;
  height: 16px;
}
footer .container .footer-bootom-wrapper {
  padding-top: 30px;
}
footer .container .footer-bootom-wrapper a {
  font-size: 14px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.66);
  text-transform: none;
  line-height: normal;
}
footer .container .footer-bootom-wrapper a::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: hsla(0, 0%, 100%, 0.66);
  width: 2px;
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 0;
}
footer .container .footer-bootom-wrapper .copy-right {
  font-size: 12px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.56);
  text-transform: none;
  line-height: normal;
}

.home-banner {
  margin-top: 32px;
  display: flex;
}
.home-banner .container .content-wrap {
  display: flex;
  margin-bottom: 30px;
}
.home-banner .container .content-wrap .left-cat {
  width: 205px;
  height: max-content;
  margin-top: 30px;
  padding: 24px;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
}
.home-banner .container .content-wrap .left-cat .heading {
  font-size: 18px;
  font-weight: 600;
  color: #1f274a;
  text-transform: capitalize;
  line-height: normal;
}
.home-banner .container .content-wrap .left-cat ul {
  list-style: none;
  padding: 0;
}
.home-banner .container .content-wrap .left-cat ul li {
  font-size: 14px;
  border-bottom: 1px solid #E5E4E9;
  line-height: normal;
  color: #505771;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  padding: 12px 0;
}
.home-banner .container .content-wrap .left-cat ul li:last-child {
  border-bottom: none;
}
.home-banner .container .content-wrap .left-cat .button-wrap button {
  color: #092445;
  border: 1px solid #092445;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  padding: 11px 27px 12px;
}
.home-banner .container .content-wrap .left-cat .button-wrap button:hover {
  color: #fff;
  background-color: #181F3F;
}
.home-banner .container .content-wrap .banner-slider-wrapper {
  position: relative;
}
.home-banner .container .content-wrap .banner-slider {
  width: 730px;
  height: 100%;
  position: relative;
}
.home-banner .container .content-wrap .banner-slider .banner-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.home-banner .container .content-wrap .banner-slider .banner-wrap img {
  border-radius: 10px;
  object-fit: cover;
}
.home-banner .container .content-wrap .banner-slider .banner-wrap .caption_wrap {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.home-banner .container .content-wrap .banner-slider .banner-wrap .caption_wrap .banner-content h3 {
  font-size: 32px;
  font-weight: 600;
  color: #092445;
  text-transform: none;
  line-height: normal;
  margin-bottom: 0;
}
.home-banner .container .content-wrap .banner-slider .banner-wrap .caption_wrap .banner-content h1 {
  font-size: 42px;
  font-weight: 300;
  color: #092445;
  text-transform: lowercase;
  line-height: normal;
  margin-bottom: 25px;
}
.home-banner .container .content-wrap .banner-slider .banner-wrap .caption_wrap .button-wrap button {
  background-color: #ec7451;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 26px 11px;
  text-transform: none;
  line-height: normal;
}
.home-banner .container .content-wrap .banner-slider .banner-wrap .caption_wrap .button-wrap button:hover {
  border: 1px solid #ec7451;
  background-color: #fff;
  color: #ec7451;
}
.home-banner .container .content-wrap .right-cat {
  width: 205px;
  height: max-content;
  margin-top: 30px;
  padding: 24px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}
.home-banner .container .content-wrap .right-cat .heading {
  font-size: 18px;
}
.home-banner .container .content-wrap .right-cat .content-list {
  margin-bottom: 20px;
}
.home-banner .container .content-wrap .right-cat .content-list .content {
  border-bottom: 1px solid #E5E4E9;
  padding-top: 16.5px;
}
.home-banner .container .content-wrap .right-cat .content-list .content .title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 8px;
  line-height: normal;
}
.home-banner .container .content-wrap .right-cat .content-list .content .desc {
  font-size: 12px;
  padding-bottom: 8px;
  line-height: normal;
  color: #505771;
  font-weight: 400;
  text-transform: none;
}
.home-banner .container .content-wrap .right-cat .button-wrap button {
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  padding: 11px 27px 12px;
  background: #092445;
  border: 1px solid #092445;
}
.home-banner .container .content-wrap .right-cat .button-wrap button:hover {
  color: #092445;
  border: 1px solid #092445;
  background-color: #fff;
}

.new-arrivals .container .carousel {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px 24px 49px 24px;
  margin-bottom: 30px;
}
.new-arrivals .container .carousel .carousel-1 {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}
.new-arrivals .container .carousel .carousel-1 .item {
  padding: 10px;
  max-width: 200px;
}
.new-arrivals .container .carousel .carousel-1 .item .item-box {
  width: 100%;
  border: 1px solid #e5e4e9;
  border-radius: 4px;
  margin-bottom: 14px;
  padding: 15px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.new-arrivals .container .carousel .carousel-1 .item .item-box .img-wrap {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.new-arrivals .container .carousel .carousel-1 .item .item-detail .item-info .name {
  font-size: 12px;
  font-weight: 500px;
  color: #505771;
  text-transform: none;
  margin-bottom: 10px;
  height: 30px;
}
.new-arrivals .container .carousel .carousel-1 .item .item-detail .price {
  font-size: 16px;
  font-weight: 700;
  color: #ec7451;
  text-transform: uppercase;
  line-height: normal;
  align-items: flex-start;
  flex-direction: column-reverse;
  display: flex;
  min-height: 32px;
}
.new-arrivals .container .carousel .carousel-1 .item .item-detail .product-info {
  font-size: 12px;
  font-weight: 500;
  color: #505771;
  text-transform: capitalize;
}
.new-arrivals .container .carousel .carousel-1 .item .item-detail .product-info .unit-per {
  margin-top: 16px;
  margin-bottom: 8px;
}
.new-arrivals .container .carousel .carousel-1 .item_holder {
  background-color: #fff;
  width: 200px;
}